@import url(/assets/css/cabecalho.css);
@import url(/assets/css/perfil.css);
@import url(/assets/css/agenda.css);
@import url(/assets/css/rodape.css);
@import url(/assets/css/agendamentos.css);
@import url(/assets/css/cadastro.css);
@import url(/assets/css/copyright.css);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --color-background: #F8F7FD;
    --color-principal: #464646;
    --color-secundaria: #A3A3A3;
    --color-terciaria: #F6F6F6;
    --color-opacity: #EDEDED;
    --color-video: #FFB050;
    --color-endereco: #4894FF;
    --color-branco: #FFFFFF;
}

body {
    color: var(--color-principal);
    background-color: var(--color-background);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}
